.botonMenu
{
   margin: 0 auto;
   display: block;
   width: 40px;
   height: 36px;
   padding: 20px;
   border-radius: 40px;
   background: mediumvioletred;
   color: white;
   cursor: pointer;
   position: relative; /* L'esthetique de l'icone */
}

.botonMenu span
{
   display: block;
   width: 40px;
   height: 7px;
   background: white;
   margin-top: 4px; /* L'esthetique des 3 petites barre a l'interieur de l'icone */
}

label
{
   cursor: pointer; /* Va afficher la petite main comme si il y a lien */
}

#menu-toggle
{
    display: none; /* Va effecaer la petite case cocher a gauche */
}

#trickMenu
{
   display: none;
   text-align: center;
   background:white;
   padding: 10px 0; /* Va afficher la case en blanc lorsque j'appuie sur l'icone pour un effet deroulant */
}

#trickMenu li a
{
   display: block;
   padding: 10px 0;
   color:black; /* Pour afficher le menu de maniere plus propre */
}

#menu-toggle:checked + #trickMenu
{
   display: block;/* Va permettre lorsque l'on appuie sur l'icone de faire l'action d'ouvrir le menu */
}