table.tab
{
    width:100%;
    height:100vh;
    border-collapse: collapse;
}
td.td1
{
    background-color:crimson; 
    border: 2px solid black;
    width:50%;
}
td.td2
{
    background-color:dodgerblue;
    border: 2px solid black;
}
